/* Base Styles */
#works_section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .work-head-text {
    color: #fff;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 3rem;
  }
  
  /* Swiper Styles */
  .projects-carousel {
    padding: 20px;
  }
  
  /* Project Card */
  .project-card {
    max-height: 30rem;
    background: #2c2c2c31;
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-badge {
    background: rgba(30, 29, 56, 0.8);
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
  }
  
  .project-image img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .project-content {
    padding: 10px;
  }
  
  .project-title {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .project-description {
    font-size: 1rem;
    opacity: 0.8;
  }
  
  .project-technologies {
    font-size: 0.9rem;
    color: #3498db;
  }
  
  /* .project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
  } */
  
  .project-link:hover {
    background: #d63384;
  }
  
  /* Swiper Navigation */
  .swiper-button-prev,
  .swiper-button-next {
    
    color: white;
  }
  
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    color: #3498db;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 767.9px) {
    .work-head-text {
      font-size: 2.5rem;
    }
  
    .project-card {
      padding: 15px;
    }
  }
  